<!-- handlebars for blog page (sername and date posted dsiplayed with blog content-->

<h1></h1>
  <section class="card">
      <a href="/blogs/{{id}}" class="card-body">
        <h3 class="card-title">{{title}}</h3> 
        <h4>form {{user.username}} posted on {{createdAt}}</h4>
        <p class="card-text">{{content}}</p>
    </a>
  </section>

<script src="/javascript/dashboard.js"></script>